.detailsPoster {
    // display: none;
    color: rgba(255, 255, 255, 0.85);
    
    &-bg {
    height: 100vh;
    }

    &-info {
        max-width: 1000px;
        padding: 30px;

        button {
            margin: 10px;
        }
        
        h1 {
            font-size: 60px;    
            border-radius: 24px;
            letter-spacing: 3px;
            margin: 20px;
        }

        h3{
            font-size: 24px;
            margin-left:40px;
        }

        div{
            display: grid;
            grid-template-columns: 180px 400px;
            font-size: 20px;
            padding: 10px;

            span {
                color: #2ecc71;
            }
        }
    }
    
}